In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
data = pd.read_csv('C:/Users/acerpc/Desktop/data_folder/train_modified.csv')
data.head()

,Disbursed,Existing_EMI,ID,Loan_Amount_Applied,Loan_Tenure_Applied,Monthly_Income,Var4,Var5,Age,EMI_Loan_Submitted_Missing,...,Var2_2,Var2_3,Var2_4,Var2_5,Var2_6,Mobile_Verified_0,Mobile_Verified_1,Source_0,Source_1,Source_2
0,0,0.0,ID000002C20,300000,5,20000,1,0,37,1,...,0,0,0,0,1,1,0,1,0,0
1,0,0.0,ID000004E40,200000,2,35000,3,13,30,0,...,0,0,0,0,1,0,1,1,0,0
2,0,0.0,ID000007H20,600000,4,22500,1,0,34,1,...,0,0,0,0,0,0,1,0,0,1
3,0,0.0,ID000008I30,1000000,5,35000,3,10,28,1,...,0,0,0,0,0,0,1,0,0,1
4,0,25000.0,ID000009J40,500000,2,100000,3,17,31,1,...,0,0,0,0,0,0,1,0,0,1

In [14]:
data.Disbursed.value_counts()

0    19680
1      320
Name: Disbursed, dtype: int64

In [9]:
from sklearn.model_selection import train_test_split

x_train,x_test,y_train,y_test = train_test_split(data.loc[:,'Existing_EMI':].drop('ID',axis=1),data['Disbursed'],
                                                random_state=1,test_size=0.3)

In [4]:
from imblearn.combine import SMOTETomek

In [16]:
kos = SMOTETomek(random_state=1)
x_kos,y_kos = kos.fit_sample(x_train,y_train)
pd.Series(y_kos).value_counts()

1    13296
0    13296
dtype: int64

In [ ]:
AdaBoostClassifier主要应用AdaBoost算法实现分类问题的主要函数，其主要有如下几个参数：
base_estimator ：基本分类器，就是我们常说的弱分类器，默认为决策树分类器（CART），在理论上可以选择任何一个分类器，但是需要支持选择样本的权重，
一般用决策树或者是神经网络。
n_estimators ：弱分类器的个数，默认为50个，一般来说n_estimators太小的话会出现欠拟合，过大的话会出现过拟合，
因此一般选择一个适中的数值，这也是调参的必要性。 
learning_rate ：学习率，即每个弱分类器的权重缩减系数，取值范围为0到1。一般来说弱分类器的分数和学习率要一起调参，
一般来说可从一个小一点的开始调参。
algorithm ：算法的选择，主要有‘SAMME’, ‘SAMME.R’两种，默认为SAMME.R。两者的主要区别在弱分类器的权重度量上，
SAMME使用的是样本集的分类效果作为若学习器的权重，
而SAMME.R使用了对样本集分类的预测概率大小作为弱学习器的权重，因为SAMME.R使用的是概率度量的连续值，迭代一般比SAMME快。
random_state：随机状态的设定，默认为None，可以设置为整型数值，也可以给定一个随机状态。

In [18]:
from sklearn.ensemble import AdaBoostClassifier

abc = AdaBoostClassifier()
abc.fit(x_kos,y_kos)

AdaBoostClassifier(algorithm='SAMME.R', base_estimator=None,
          learning_rate=1.0, n_estimators=50, random_state=None)

In [19]:
from sklearn.metrics import classification_report
print(classification_report(y_test,abc.predict(x_test)))

              precision    recall  f1-score   support

           0       0.98      0.97      0.98      5900
           1       0.04      0.07      0.05       100

   micro avg       0.96      0.96      0.96      6000
   macro avg       0.51      0.52      0.52      6000
weighted avg       0.97      0.96      0.96      6000

In [20]:
print(classification_report(y_train,abc.predict(x_train)))

              precision    recall  f1-score   support

           0       0.99      0.98      0.98     13780
           1       0.06      0.10      0.08       220

   micro avg       0.96      0.96      0.96     14000
   macro avg       0.52      0.54      0.53     14000
weighted avg       0.97      0.96      0.97     14000