In [1]:
import numpy as np
import pandas as pd
import os
import sys
sys.path.append('C:/Users/acerpc/Desktop/data_folder')
os.chdir('C:/Users/acerpc/Desktop/data_folder')
import aprioriAll,apriori

apriori imported!
aprioriAll imported!

In [2]:
transactions = pd.read_csv('Transactions.csv')
transactions.head()

  OrderNumber  LineNumber                 Model
0     SO51178           1          Mountain-200
1     SO51178           2  Mountain Bottle Cage
2     SO51178           3          Water Bottle
3     SO51184           1          Mountain-200
4     SO51184           2      HL Mountain Tire

Sort phase: The database is sorted, with customer-id as the major key 
and transaction-time as the minor key. This step implicitly 
converts the original transaction database into a database of 
customer sequences.

In [6]:
basket = transactions['Model'].groupby([transactions['OrderNumber'],transactions['LineNumber']]).apply(list)
basket.head()

OrderNumber  LineNumber
SO51176      1                     [Road-250]
             2             [Road Bottle Cage]
SO51177      1                 [Touring-2000]
             2                    [Sport-100]
SO51178      1                 [Mountain-200]
Name: Model, dtype: object

In [7]:
basket = list(basket.groupby('OrderNumber').apply(list))
basket[:3]

[[['Road-250'], ['Road Bottle Cage']],
 [['Touring-2000'], ['Sport-100']],
 [['Mountain-200'], ['Mountain Bottle Cage'], ['Water Bottle']]]

In [8]:
aprioriAll.aprioriAll(basket,min_support=0.05).head()

                       sequence   support
0         ((Road Bottle Cage),)  0.080075
1             ((Mountain-200),)  0.116537
2           ((Road Tire Tube),)  0.104258
3  ((Long-Sleeve Logo Jersey),)  0.077252
4         ((HL Mountain Tire),)  0.062621