In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

In [3]:
import os
import sys

sys.path.append('C:/Users/acerpc/Desktop/data_folder')
os.chdir('C:/Users/acerpc/Desktop/data_folder')
import apriori

apriori imported!

In [4]:
transactions = pd.read_csv('Transactions.csv')
transactions.head()

  OrderNumber  LineNumber                 Model
0     SO51178           1          Mountain-200
1     SO51178           2  Mountain Bottle Cage
2     SO51178           3          Water Bottle
3     SO51184           1          Mountain-200
4     SO51184           2      HL Mountain Tire

In [5]:
baskets = transactions['Model'].groupby(transactions['OrderNumber']).apply(list)
baskets.head()

OrderNumber
SO51176                         [Road-250, Road Bottle Cage]
SO51177                            [Sport-100, Touring-2000]
SO51178    [Mountain-200, Mountain Bottle Cage, Water Bot...
SO51179    [All-Purpose Bike Stand, Road Tire Tube, HL Ro...
SO51180    [Road-250, Road Bottle Cage, Water Bottle, Spo...
Name: Model, dtype: object

In [6]:
dataset = baskets.tolist()

In [8]:
rules = apriori.arules(dataset,min_support=0.02)
rules.head()

,LHS,RHS,confidence,lift,support
0,(Mountain Bottle Cage),(Water Bottle),0.836167,4.360336,0.076359
1,(Water Bottle),(Mountain Bottle Cage),0.398184,4.360336,0.076359
2,(Water Bottle),(Mountain-200),0.144504,1.239984,0.027711
3,(Mountain-200),(Water Bottle),0.237788,1.239984,0.027711
4,(Mountain Bottle Cage),(Mountain-200),0.373519,3.205144,0.034110

可以根据需要进行后续处理，例如按照confidence和lift过滤后，按support排序

In [9]:
conf = rules[(rules.confidence>0.5)&(rules.lift>1)]
conf.sort_values(by='support',ascending=True).head()

,LHS,RHS,confidence,lift,support
70,"(Mountain Bottle Cage, Sport-100)",(Water Bottle),0.838346,4.371698,0.020983
59,(LL Mountain Tire),(Mountain Tire Tube),0.560701,4.098245,0.021077
75,"(Road-750, Water Bottle)",(Road Bottle Cage),1.000000,12.488249,0.022818
76,"(Road-750, Road Bottle Cage)",(Water Bottle),0.867621,4.524357,0.022818
52,(LL Road Tire),(Road Tire Tube),0.526531,5.050274,0.024277