In [1]:
import numpy as np
import pandas as pd
import matplotlib as mpl
import matplotlib.pyplot as plt
import seaborn as sns
import datetime,nltk,warnings
import matplotlib.cm as cm
import itertools
from pathlib import Path
from sklearn.preprocessing import StandardScaler
from sklearn.cluster import KMeans
from sklearn.metrics import silhouette_score,silhouette_samples
from sklearn import preprocessing,model_selection,metrics,feature_selection
from sklearn.model_selection import GridSearchCV,learning_curve
from sklearn.svm import LinearSVC
from sklearn.metrics import confusion_matrix
from sklearn import neighbors,linear_model,svm,tree,ensemble
from wordcloud import WordCloud,STOPWORDS
from sklearn.ensemble import AdaBoostClassifier
from sklearn.decomposition import PCA
from IPython.display import HTML,display

In [3]:
import plotly.graph_objs as go
from plotly.offline import download_plotlyjs,init_notebook_mode,plot,iplot
init_notebook_mode(connected=True)
plt.rcParams['patch.force_edgecolor'] = True
plt.style.use('fivethirtyeight')
mpl.rc('patch',edgecolor='dimgray',linewidth=1)
%matplotlib inline

In [4]:
df_initial = pd.read_csv('C:/Users/acerpc/Desktop/data_folder/data.csv',encoding='ISO-8859-1',dtype={'CustomerID':str,'InvoiceNo':str})
df_initial.head()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,12/1/2010 8:26,2.55,17850,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,12/1/2010 8:26,3.39,17850,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,12/1/2010 8:26,2.75,17850,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,12/1/2010 8:26,3.39,17850,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,12/1/2010 8:26,3.39,17850,United Kingdom

In [6]:
print('DataFrame Dimensions:',df_initial.shape)

DataFrame Dimensions: (541909, 8)

查看空值

In [7]:
df_initial.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 541909 entries, 0 to 541908
Data columns (total 8 columns):
InvoiceNo      541909 non-null object
StockCode      541909 non-null object
Description    540455 non-null object
Quantity       541909 non-null int64
InvoiceDate    541909 non-null object
UnitPrice      541909 non-null float64
CustomerID     406829 non-null object
Country        541909 non-null object
dtypes: float64(1), int64(1), object(6)
memory usage: 33.1+ MB

In [19]:
data_station = pd.DataFrame(df_initial_dropdup.dtypes).T.rename(index={0:'columns_type'})
data_station = data_station.append(pd.DataFrame(df_initial_dropdup.isnull().sum()).T.rename(index={0:'null values(nb)'}))
data_station = data_station.append(
    pd.DataFrame(df_initial_dropdup.isnull().sum()/len(df_initial_dropdup)*100).T.rename(index={0:'notnull values(%)'}))
data_station

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
columns_type,object,object,object,int64,object,float64,object,object
null values(nb),0,0,1454,0,0,0,135037,0
notnull values(%),0,0,0.270945,0,0,0,25.1634,0

删除空值

In [23]:
df_initial_dropdup.dropna(axis=0,subset=['CustomerID'],inplace=True)
tab_info = pd.DataFrame(df_initial_dropdup.dtypes).T.rename(index={0:'columns_type'})
tab_info = tab_info.append(pd.DataFrame(df_initial_dropdup.isnull().sum()).T.rename(index={0:'null values(nb)'}))
tab_info

D:\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
columns_type,object,object,object,int64,object,float64,object,object
null values(nb),0,0,0,0,0,0,0,0

查看重复值

In [8]:
#查看某些行中是否所有的列的数据都相同，有则视为空值
df_initial.duplicated().sum()

5268

In [9]:
df_initial[df_initial.duplicated()].head(10)

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
517,536409,21866,UNION JACK FLAG LUGGAGE TAG,1,12/1/2010 11:45,1.25,17908,United Kingdom
527,536409,22866,HAND WARMER SCOTTY DOG DESIGN,1,12/1/2010 11:45,2.10,17908,United Kingdom
537,536409,22900,SET 2 TEA TOWELS I LOVE LONDON,1,12/1/2010 11:45,2.95,17908,United Kingdom
539,536409,22111,SCOTTIE DOG HOT WATER BOTTLE,1,12/1/2010 11:45,4.95,17908,United Kingdom
555,536412,22327,ROUND SNACK BOXES SET OF 4 SKULLS,1,12/1/2010 11:49,2.95,17920,United Kingdom
587,536412,22273,FELTCRAFT DOLL MOLLY,1,12/1/2010 11:49,2.95,17920,United Kingdom
589,536412,22749,FELTCRAFT PRINCESS CHARLOTTE DOLL,1,12/1/2010 11:49,3.75,17920,United Kingdom
594,536412,22141,CHRISTMAS CRAFT TREE TOP ANGEL,1,12/1/2010 11:49,2.10,17920,United Kingdom
598,536412,21448,12 DAISY PEGS IN WOOD BOX,1,12/1/2010 11:49,1.65,17920,United Kingdom
600,536412,22569,FELTCRAFT CUSHION BUTTERFLY,2,12/1/2010 11:49,3.75,17920,United Kingdom

In [10]:
df_initial_dropdup = df_initial.drop_duplicates()
df_initial_dropdup.shape

(536641, 8)

时间数据处理

In [24]:
df_initial_dropdup['InvoiceDate'] = pd.to_datetime(df_initial_dropdup['InvoiceDate'])
df_initial_dropdup.head()

D:\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850,United Kingdom

基本情况分析

客户所属国家

In [26]:
pd.DataFrame({"products":len(df_initial_dropdup.StockCode.unique()),
              'transactions':len(df_initial_dropdup.InvoiceNo.unique()),
              'customers':len(df_initial_dropdup.CustomerID.unique())},index=['quantity'])

          products  transactions  customers
quantity      3684         22190       4372

In [25]:
tem = df_initial_dropdup[['InvoiceNo','CustomerID','Country']].groupby(['CustomerID','InvoiceNo','Country']).count()
tem

Empty DataFrame
Columns: []
Index: [(12346, 541431, United Kingdom), (12346, C541433, United Kingdom), (12347, 537626, Iceland), (12347, 542237, Iceland), (12347, 549222, Iceland), (12347, 556201, Iceland), (12347, 562032, Iceland), (12347, 573511, Iceland), (12347, 581180, Iceland), (12348, 539318, Finland), (12348, 541998, Finland), (12348, 548955, Finland), (12348, 568172, Finland), (12349, 577609, Italy), (12350, 543037, Norway), (12352, 544156, Norway), (12352, 545323, Norway), (12352, 545332, Norway), (12352, 546869, Norway), (12352, 547390, Norway), (12352, 567505, Norway), (12352, 568699, Norway), (12352, 574275, Norway), (12352, C545329, Norway), (12352, C545330, Norway), (12352, C547388, Norway), (12353, 553900, Bahrain), (12354, 550911, Spain), (12355, 552449, Bahrain), (12356, 541430, Portugal), (12356, 549435, Portugal), (12356, 576895, Portugal), (12357, 574740, Switzerland), (12358, 559707, Austria), (12358, 581232, Austria), (12359, 540946, Cyprus), (12359, 543370, Cyprus), (12359, 555477, Cyprus), (12359, 571034, Cyprus), (12359, C549955, Cyprus), (12359, C580165, Cyprus), (12360, 554132, Austria), (12360, 563749, Austria), (12360, 571705, Austria), (12361, 545017, Belgium), (12362, 544203, Belgium), (12362, 551346, Belgium), (12362, 559295, Belgium), (12362, 563037, Belgium), (12362, 568651, Belgium), (12362, 570667, Belgium), (12362, 572887, Belgium), (12362, 573173, Belgium), (12362, 574329, Belgium), (12362, 580979, Belgium), (12362, C544902, Belgium), (12362, C563752, Belgium), (12362, C579178, Belgium), (12363, 549687, Unspecified), (12363, 563947, Unspecified), (12364, 563854, Belgium), (12364, 567897, Belgium), (12364, 573401, Belgium), (12364, 580152, Belgium), (12365, 544574, Cyprus), (12365, 544578, Cyprus), (12365, C544577, Cyprus), (12367, 580716, Denmark), (12370, 538826, Cyprus), (12370, 539330, Austria), (12370, 546236, Cyprus), (12370, 571905, Cyprus), (12371, 570521, Switzerland), (12371, 572770, Switzerland), (12372, 544157, Denmark), (12372, 552731, Denmark), (12372, 568872, Denmark), (12373, 542887, Austria), (12374, 576345, Austria), (12375, 565333, Finland), (12375, 579281, Finland), (12375, C581071, Finland), (12377, 539488, Switzerland), (12377, 542586, Switzerland), (12378, 562046, Switzerland), (12379, 557789, Belgium), (12379, 567196, Belgium), (12379, C559193, Belgium), (12380, 555739, Belgium), (12380, 567928, Belgium), (12380, 571187, Belgium), (12380, 577180, Belgium), (12380, C572532, Belgium), (12381, 563100, Norway), (12381, 570681, Norway), (12381, 570725, Norway), (12381, 574694, Norway), (12381, 580638, Norway), (12381, C565050, Norway), (12383, 539840, Belgium), ...]

[22190 rows x 0 columns]

In [27]:
tem = tem.reset_index()
tem

      CustomerID InvoiceNo         Country
0          12346    541431  United Kingdom
1          12346   C541433  United Kingdom
2          12347    537626         Iceland
3          12347    542237         Iceland
4          12347    549222         Iceland
5          12347    556201         Iceland
6          12347    562032         Iceland
7          12347    573511         Iceland
8          12347    581180         Iceland
9          12348    539318         Finland
10         12348    541998         Finland
11         12348    548955         Finland
12         12348    568172         Finland
13         12349    577609           Italy
14         12350    543037          Norway
15         12352    544156          Norway
16         12352    545323          Norway
17         12352    545332          Norway
18         12352    546869          Norway
19         12352    547390          Norway
20         12352    567505          Norway
21         12352    568699          Norway
22         12352    574275          Norway
23         12352   C545329          Norway
24         12352   C545330          Norway
25         12352   C547388          Norway
26         12353    553900         Bahrain
27         12354    550911           Spain
28         12355    552449         Bahrain
29         12356    541430        Portugal
...          ...       ...             ...
22160      18276    572990  United Kingdom
22161      18276   C577386  United Kingdom
22162      18276   C577390  United Kingdom
22163      18277    570859  United Kingdom
22164      18277   C542086  United Kingdom
22165      18278    568492  United Kingdom
22166      18280    545712  United Kingdom
22167      18281    556464  United Kingdom
22168      18282    562525  United Kingdom
22169      18282    580173  United Kingdom
22170      18282   C562808  United Kingdom
22171      18283    540350  United Kingdom
22172      18283    541854  United Kingdom
22173      18283    545079  United Kingdom
22174      18283    550957  United Kingdom
22175      18283    554157  United Kingdom
22176      18283    556731  United Kingdom
22177      18283    557956  United Kingdom
22178      18283    560025  United Kingdom
22179      18283    560032  United Kingdom
22180      18283    565579  United Kingdom
22181      18283    573093  United Kingdom
22182      18283    575668  United Kingdom
22183      18283    575675  United Kingdom
22184      18283    578262  United Kingdom
22185      18283    579673  United Kingdom
22186      18283    580872  United Kingdom
22187      18287    554065  United Kingdom
22188      18287    570715  United Kingdom
22189      18287    573167  United Kingdom

[22190 rows x 3 columns]

In [34]:
countries = tem.Country.value_counts()
countries

United Kingdom          19857
Germany                   603
France                    458
EIRE                      319
Belgium                   119
Spain                     105
Netherlands               101
Switzerland                71
Portugal                   70
Australia                  69
Italy                      55
Finland                    48
Sweden                     46
Norway                     40
Channel Islands            33
Japan                      28
Poland                     24
Denmark                    21
Cyprus                     20
Austria                    19
Malta                      10
Singapore                  10
Unspecified                 8
Iceland                     7
USA                         7
Greece                      6
Canada                      6
Israel                      6
Czech Republic              5
European Community          5
Lithuania                   4
United Arab Emirates        3
Bahrain                     2
Saudi Arabia                2
RSA                         1
Lebanon                     1
Brazil                      1
Name: Country, dtype: int64

In [39]:
print('number of counties : {}'.format(len(countries)))

number of counties : 37

In [41]:
import plotly
from plotly.graph_objs import Scatter, Layout
plotly.offline.init_notebook_mode(connected=True)
print(plotly.__version__)
import plotly.plotly as py
import plotly.graph_objs as go
import plotly.figure_factory as ff

2.4.0

In [42]:
#show the result on a chloropleth map:

plotly.tools.set_credentials_file(username='changchunlai121', api_key='TR7xmTHh6gR8LnSgen64')

data = dict(type = 'choropleth',
            locations = countries.index,
            locationmode = 'country names',z = countries,
            text = countries.index, colorbar = {'title':'Order nb.'},
            colorscale=[[0, 'rgb(224,255,255)'],
            [0.01, 'rgb(166,206,227)'], [0.02, 'rgb(31,120,180)'],
            [0.03, 'rgb(178,223,138)'], [0.05, 'rgb(51,160,44)'],
            [0.10, 'rgb(251,154,153)'], [0.20, 'rgb(255,255,0)'],
            [1, 'rgb(227,26,28)']],
            reversescale = False)
#-----------------------------------
layout = dict(title='Number of order per country',
             geo = dict(showframe = True, projection = {'type':'Mercator'}))

#----------------------------------
choromap = go.Figure(data=[data],layout = layout)
py.iplot(choromap, validate=False)

PlotlyRequestError: Aw, snap! You tried to use our API as the user 'changchunlai121', but the supplied API key doesn't match our records. You can view your API key at https://plot.ly/settings/api

You're most likely getting this message because your local credentials file isn't synced with the Plotly server you're communicating with.

Go to https://plot.ly/<language>/getting-started (e.g., https://plot.ly/python/getting-started) for more information.

Make sure that you're logged in as changchunlai121.

Need help? Please try searching Plotly's <a href='http://stackoverflow.com/questions/tagged/plotly'>Stack Overflow channel</a>.

退货交易探索

In [58]:
#the number of products purchased in every transaction
num_tab = df_initial_dropdup.groupby(['CustomerID','InvoiceNo'],as_index=False)['StockCode'].count()
num_tab.rename(columns={'InvoiceDate':'Number of products'})

      CustomerID InvoiceNo  StockCode
0          12346    541431          1
1          12346   C541433          1
2          12347    537626         31
3          12347    542237         29
4          12347    549222         24
5          12347    556201         18
6          12347    562032         22
7          12347    573511         47
8          12347    581180         11
9          12348    539318         17
10         12348    541998          6
11         12348    548955          5
12         12348    568172          3
13         12349    577609         73
14         12350    543037         17
15         12352    544156         15
16         12352    545323          5
17         12352    545332          3
18         12352    546869          7
19         12352    547390          8
20         12352    567505         18
21         12352    568699         14
22         12352    574275         15
23         12352   C545329          2
24         12352   C545330          1
25         12352   C547388          7
26         12353    553900          4
27         12354    550911         58
28         12355    552449         13
29         12356    541430         36
...          ...       ...        ...
22160      18276    572990         14
22161      18276   C577386          1
22162      18276   C577390          1
22163      18277    570859          8
22164      18277   C542086          1
22165      18278    568492          9
22166      18280    545712         10
22167      18281    556464          7
22168      18282    562525          7
22169      18282    580173          5
22170      18282   C562808          1
22171      18283    540350         57
22172      18283    541854         44
22173      18283    545079         29
22174      18283    550957         55
22175      18283    554157         37
22176      18283    556731         24
22177      18283    557956         76
22178      18283    560025         54
22179      18283    560032          1
22180      18283    565579         47
22181      18283    573093         38
22182      18283    575668         56
22183      18283    575675          1
22184      18283    578262        102
22185      18283    579673         50
22186      18283    580872         50
22187      18287    554065         29
22188      18287    570715         38
22189      18287    573167          3

[22190 rows x 3 columns]

In [57]:
df_initial_dropdup.head()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850,United Kingdom

In [60]:
num_tab['nb_products_per_basket'] = num_tab['InvoiceNo'].apply(lambda x:int('C' in x))
num_tab.head()

  CustomerID InvoiceNo  StockCode  nb_products_per_basket
0      12346    541431          1                       0
1      12346   C541433          1                       1
2      12347    537626         31                       0
3      12347    542237         29                       0
4      12347    549222         24                       0

In [61]:
n1 = num_tab['nb_products_per_basket'].sum()
n2 = num_tab.shape[0]
print(n1/n2)

0.16466876971608832